<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ static_url('stylesheet/reset.css') }}" >
    <link rel="stylesheet" href="{{ static_url('stylesheet/default.css') }}" >
    <script src="{{ static_url('javascript/help.js') }}"></script>
    <script src="{{ static_url('javascript/default.js') }}"></script>
  </head>
  <body>
    <div id="header"></div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer"></div>
  </body>
</html>